<header class="shadow-md p-3 w-full">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">

    <!-- Logo -->
    <img routerLink="/" src="/images/logo.png" alt="app logo" class="max-h-14">

    <!-- Desktop Navigation -->
    <nav class="hidden md:flex gap-3 my-2 uppercase text-lg">
      <a routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" 
        class="hover:text-primary">Home</a>

      <a routerLink="/shop" routerLinkActive="active"  class="hover:text-primary">Shop</a>
      <a class="hover:text-primary">Contact</a>
    </nav>

    <!-- Right Actions -->
    <div class="flex items-center gap-3">

      <!-- Cart -->
      <a matBadge="5" matBadgeSize="large" class="custom-badge">
        <mat-icon>shopping_cart</mat-icon>
      </a>

      <!-- Desktop buttons -->
      <div class="hidden md:flex gap-2">
        <button type="button" mat-stroked-button>Login</button>
        <button type="button" mat-stroked-button>Register</button>
      </div>

      <!-- Mobile Menu Button -->
      <button type="button" class="md:hidden">
        <mat-icon>menu</mat-icon>
      </button>

    </div>

  </div>
</header>
