.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px; 
  color: yellow;
}

.custom-badge mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px; 
}


nav a{
  cursor:pointer;
  padding:6px 8px;
}

a{
  &.active{
    color:#7d00fa;
  }
}

