@if(product){
  <mat-card class="product-card" appearance="raised" routerLink="/shop/{{product.id}}" class="product-card">

    <img [src]="product.pictureUrl" [alt]="product.name" loading="lazy" class="product-image">

    <mat-card-content>
      <h2 class="product-title">{{product.name}}</h2>
      <p class="product-price">{{product.price | currency}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button  type="button" mat-stroked-button class="add-btn">
        <mat-icon>add_shopping_cart</mat-icon>
        Add to Cart
      </button>
    </mat-card-actions>

  </mat-card>
}