
<div class="relative w-full h-96">
  <!-- Image -->
  <img 
    routerLink="/shop" src="/images/hero1.jpg" 
    alt="Centered image" 
    class="w-full h-full object-cover object-center"/>
  <!-- Content at the bottom -->
  <div class="absolute bottom-0 left-0 right-0 bg-white text-white p-4 text-center">
    <h1 class="text-2xl font-semibold text-green-600">Thank you for Choosing Atomic Coffee</h1>
  </div>

  <div class="space-y-2 rounder-lg border-gray-100 bg-gray-50 p-6 mb-8">
    <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal text-gray-500">Date</dt>
      <dd class="font-medium text-gray-900 text-end">November 15, 2024</dd>
    </dl>
      <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal text-gray-500">Payment Method</dt>
      <dd class="font-medium text-gray-900 text-end">Visa</dd>
    </dl>
      <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal text-gray-500">Address</dt>
      <dd class="font-medium text-gray-900 text-end">Address Goes Here!</dd>
    </dl>
      <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal text-gray-500">Amount</dt>
      <dd class="font-medium text-gray-900 text-end">$ 100</dd>
    </dl>
  </div>
  <div class="flex items-center space-x-4">
    <button type="button"routerLink="/orders/42" mat-flat-button>View Your Order</button>
    <br>
    <button type="button"routerLink="/shop" mat-flat-button>Continue Shopping</button>
  </div>
</div>
